<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ genreName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="genre-content">

  <div class="movie-list">
    <div 
      *ngFor="let movie of movies"
      class="movie-item"
      [routerLink]="['/movie', movie.id]"
    >
      <img 
        class="poster"
        [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path"
        alt="{{ movie.title }}"
      />

      <div class="info">
        <h3>{{ movie.title }}</h3>
        <p class="overview">{{ movie.overview }}</p>
      </div>
    </div>
  </div>

</ion-content>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">⬅ Anterior</button>

  <span>Página {{ currentPage }} de {{ totalPages }}</span>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima ➡</button>
</div>


<ion-tab-bar slot="bottom">

  <ion-tab-button tab="favoritos" routerLink="/favoritos">
    <ion-icon name="bookmark"></ion-icon>
    <ion-label>Favoritos</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home" routerLink="/home">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/perfil">
    <ion-icon name="person"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

</ion-tab-bar>
