<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="favoritos-page" fullscreen>
  <div *ngIf="favorites.length === 0" class="empty">
    <div class="empty-inner">
      <ion-icon name="bookmark-outline" class="empty-icon" aria-hidden="true"></ion-icon>
      <div class="empty-text">
        <h3>Nenhum favorito ainda</h3>
        <p>Salve filmes que você gosta tocando no coração na página de detalhes.</p>
        <ion-button routerLink="/home" color="light" fill="solid">Explorar filmes</ion-button>
      </div>
    </div>
  </div>

  <div class="favorites-list">
    <ion-card *ngFor="let f of favorites" class="fav-card card-hoverable">
      <a [routerLink]="['/movie', f.id]">
        <div class="fav-poster">
          <img
            [src]="'https://image.tmdb.org/t/p/w300' + f.poster_path"
            alt="{{ f.title }}"
          />
        </div>
      </a>
      <ion-card-header>
        <ion-card-title
          >{{ f.title }} ({{ f.release_date?.split('-')[0] }})</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <div class="fav-row">
          <div class="rating">
            {{ (f.vote_average || 0) | number:'1.1-1' }}/10
          </div>
          <ion-button fill="clear" size="small" (click)="removeFavorite(f.id)"
            >Remover</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="favoritos" routerLink="/favoritos">
    <ion-icon name="bookmark"></ion-icon>
    <ion-label>Favoritos</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home" routerLink="/home">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/perfil">
    <ion-icon name="person"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/sobre">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Sobre</ion-label>
  </ion-tab-button>
</ion-tab-bar>
