<ion-header>
  <ion-toolbar color="black">
    <ion-title>{{ movie?.title || 'Detalhes' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="movie-details" fullscreen>
  <div *ngIf="movie" class="details-card">
    <ion-card class="card-hoverable">
      <div class="poster-wrap">
        <img class="poster-img img-smooth" [src]="'https://image.tmdb.org/t/p/w780' + movie.poster_path" alt="{{ movie.title }}" />
        <ion-button fill="clear" class="favorite-btn" (click)="toggleFavorite()" [attr.aria-pressed]="isFavorite" [attr.aria-label]="isFavorite ? 'Remover dos favoritos' : 'Adicionar aos favoritos'" [class.filled]="isFavorite" size="small">
          <ion-icon name="bookmark" slot="icon-only" [name]="isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </div>
      <ion-card-header>
        <ion-card-title>{{ movie.title }} ({{ getYear() }})</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Duração</ion-label>
          <div>{{ getRuntime() }}</div>
        </ion-item>

        <ion-item>
          <ion-label>Direção</ion-label>
          <div>{{ getDirector() }}</div>
        </ion-item>

        <ion-item>
          <ion-label>Produção</ion-label>
          <div>{{ getProduction() }}</div>
        </ion-item>

        <ion-item>
          <ion-label>Elenco</ion-label>
          <div>
            <span *ngFor="let c of getMainCast(); let i = index">
              {{ c.name }}<span *ngIf="i < getMainCast().length - 1">, </span>
            </span>
          </div>
        </ion-item>

        <ion-item>
          <ion-label>Avaliação</ion-label>
          <div class="stars">
            <ion-icon name="star" *ngFor="let s of stars"></ion-icon>
            <span class="rating">{{ getRating() }}/10</span>
          </div>
        </ion-item>

        <ion-item>
  <ion-label>Plataformas</ion-label>
  <div class="platforms">
    <ng-container *ngIf="hasAnyProvider(); else cinemasOnly">
      <div class="platform-group" *ngFor="let g of providers">
        <div class="platform-list">
          <div class="provider" *ngFor="let p of g.providers">
            <img *ngIf="p.logo_path" [src]="'https://image.tmdb.org/t/p/w92' + p.logo_path" [alt]="p.provider_name" />
            <span class="provider-name">{{ p.provider_name }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #cinemasOnly>
      <div class="only-cinemas">Apenas nos cinemas</div>
    </ng-template>
  </div>
</ion-item>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!movie" class="loading">Carregando...</div>
<div *ngIf="cinemas.length > 0" class="cinemas-container">
  <h2>Cinemas Próximos</h2>

  <ion-item *ngFor="let cinema of cinemas">
    <ion-label>{{ cinema.displayName.text }}</ion-label>

    <ion-button id="botao" slot="end" (click)="abrirNoGoogleMaps(cinema)">
      Ver no Maps
    </ion-button>
  </ion-item>
</div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="favoritos" routerLink="/favoritos">
    <ion-icon name="bookmark"></ion-icon>
    <ion-label>Favoritos</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home" routerLink="/home">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/perfil">
    <ion-icon name="person"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/sobre">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Sobre</ion-label>
  </ion-tab-button>
</ion-tab-bar>
